*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


h1{
		font-family:'Arial';
		font-size:25px;
		letter-spacing:1px;
		width:100%;
		background:#8A0808;
		padding:15px;
		color:#FFF;
		text-align: center;
		text-transform:uppercase;
}

p{
		font-family:'Arial';
		font-size:25px;
		letter-spacing:1px;
		width:100%;
		padding:15px;
		text-align: center;
		text-transform:uppercase;
}

 #container form  
{
	background: FFF;
	width: 500px;
	padding: 10px;	
}
